*{
    /* font style Azeret Mono */
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal
}

/* Navbar */
nav{
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
    border: 2px solid;
    border-color: rgba(13, 19, 33, 30%);
    padding: 3px 40px;
    border-radius: 9px;
}
nav h1{
    font-weight: 700;
    color: grey;
}
nav button{
    background-color: rgba(13, 19, 33, 60%);
    border-radius: 9px;
    border: .5px;
    color: white;
}
/* Main */
/* Part 1 hero intro */
.pt1{
    background-image: url("/assets/Hero-bg.png");
    text-align: center;
    margin: 0px 30px;   
}
.pt1 h1{
    color: #0D1321;
    font-size: 48px;
    font-weight: 800px;
    margin: 0px 221px;
}
.pt1 span{
    color: red;
}
.pt1 p{
    color: #0D1321;
    font-size: 16px;
}
.pt1 button{
    color: white;
    font-size: 20px;
    font-weight: 600;
    background-color: #0D1321;
    border-style: none;
    border-radius: 9px;
    padding: 20px;
    margin-bottom: 45px;
}
/* Part 2 description */
/* Global desc Card */
.pt2{
    padding: 80px 97px;
    margin: 45px 148px;
    text-align: center;
    background-color: rgba(13, 19, 33, 2%);
    border-radius: 16px;
}
.card{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 48px;
    background-color: white;
    border-radius: 16px;
    margin-bottom: 32px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2)
}
.card-h{
    color: #0D1321;
    opacity: 70%;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}
.card-p{
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
    

}
.card-btn{
    padding: 12px 20px;
    color: #0D1321;
    border: 1px solid #0D1321;
    border-radius: 9px;
    font-size: 20px;    
    font-weight: 600;

}
.card-desc{
    text-align: left;
}
/* part 3 vid */
.vid{
    margin: 0 150px ;
    text-align: center;
    background-color: rgba(13, 19, 33, 2%);
    border-radius: 16px;
    padding: 28px;
}
iframe{
    border-radius: 16px;
}
/* part 4 target cards */
.target{
    text-align: center;
    margin: 0px 150px;
    background-color: rgba(13, 19, 33, 2%) ;
}
.tar-card{
    display: flex;
    padding: 32px;
}
.tcard-html{
    background-image: url("/assets/HTML.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: overlay;
    background-size: cover;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    padding: 12px 24px;
}
.tcard-js{
    background-image: url("/assets/JSS.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: overlay;
    background-size: cover;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    padding: 12px 24px;
}
.tcard-css{
    background-image: url("/assets/CSSs.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.9);
    background-blend-mode: overlay;
    background-size: cover;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    padding: 12px 24px;
}
.target a{
    text-decoration: none;
}
.tcard-html a{
    color:  #f06529; 
}
.tcard-js a{
    color: #948315;
}
.tcard-css a{
    color: #264de4;
}
/* Feedback bar */
.feedback{
    background-image: url("/assets/handshake.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    margin: 30px  150px 100px 150px;
    text-align: center;
    padding: 64px 148px;
}
.fbar{
    border-radius: 9px;
    padding: 15px;
    font-size: 17px;
    border: none;
}
.fsub{
    padding: 15px;
    border-radius: 9px;
    font-size: 17px;
    border: none;
}
.feedback h2{
    color: rgb(0, 0, 0);
    font-size: 32px;    
    font-weight: 600;
}
/* footer */
footer{
    display: flex;
    justify-content: space-between;
    background-color: grey;
    margin: 30px 550px;
    border-radius: 16px;
    background-image: url("/assets/footer.png");
}
footer h3{
    padding: 8px;
    font-size: 18px;
    color: pink;
    font-weight: 400;
}
footer ul{
    list-style: none;
    display: flex;
}
footer li{
    padding: 8px;
}
